.paginator {
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
  font-weight: bold;
  padding: 15px;
  align-items: center;
}

.selectedPage {
  font-weight: bold;

  color: rgb(76, 169, 212);
  border-radius: 60px;
  padding: 1px;
}
.paginatorButton {
  background-color: rgb(76, 169, 212);
  border: none;
  padding: 5px;
  color: whitesmoke;
  width: 75px;
  border: 1px solid rgb(76, 169, 212);
  cursor: pointer;
  margin-top: -4px;
  border-radius: 5px;
}
.paginatorButton:hover {
  background-color: whitesmoke;
  border: 1px solid rgb(76, 169, 212);
  color: rgb(76, 169, 212);
  transition: 0.5s;
}
