.nav {
  grid-area: n;
  background-color: rgb(76, 169, 212);
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
}

.item a {
  color: white;
  text-decoration: none;
  margin: 5px;
}

.item a:hover {
  color: rgb(219, 219, 219);
}
